<script src="http://code.jquery.com/jquery-2.1.1.js"></script>

<div id="canvas">Click to draw<br/></div>
<input id="slider" type="range"  min="0" max="42000"/>
<script src="/draw.js"></script>
<button id="submit">classify</button>
